<div class="card mt-5">
    <div class="card-body">
        <div class="jumbotron">
            <h3 class="card-title">Record Audio</h3>
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-primary" (click)="startRecording()" *ngIf="!recordingInProgress"><i
                            class="fa fa-microphone" aria-hidden="true"></i>
                        Start</button>
                    <button class="btn btn-danger" (click)="stopRecording()" *ngIf="recordingInProgress"><i
                            class="fa fa-stop-circle-o" aria-hidden="true"></i>
                        Stop</button>
                </div>
                <div class="col-sm-8">
                    <button *ngIf="recordingInProgress" class="btn btn-primary" type="button" disabled>
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Recording...
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mt-5">
    <div class="card-body">


        <div class="alert alert-primary  d-inline-flex   pl-4 pr-4 pt-2 pb-2" style="min-width:40%;">
            <ng-container *ngFor="let transcription of transcriptions;let i=index;">
                {{transcription.text}}
            </ng-container>
        </div>
    </div>
</div>